html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(188, 233, 246);
}

main {
  // background-color: green;
  font-size: 2rem;
  margin-top: $margin-xxxlarge;
  padding: 0 $padding-main;
  text-align: justify;
  font-family: $roboto-font;
  font-size: 1.5rem;


  @media (max-width: 900px) {
    padding: 0 $padding-large;
  }
}

.header {
  background-color: $header-background-color;
  font-family: $roboto-font;
  font-size: $font-size-default;
  margin: 0;
  border-bottom: 1px solid $header-border-color;
  box-shadow: 0 1px 4px $header-border-color;
  position: fixed;
  top: 0;
  width: 100%;


  .navbar {
    margin: 0;
    // padding: 20px 0;
    max-width: 1400px;
    margin: auto;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar__mobile-menu--toggle {
        display: none;

        @media (max-width: 900px) {
          display: block;
          cursor: pointer;
          height: 15px;
          margin: 0 $margin-medium-large 0 0;

          &__icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .line {
              display: block;
              width: 20px;
              height: 2px;
              background-color: black;
              transition: all .2s linear;
            }

            &--open {
              
              .line {
                position: relative;
                transition: all .2s ease-out;
              }
              .line-2 {
                // visibility: hidden;
                // transition-delay: 1s;
                display: none;
              }
              .line-1 {
                transform: rotate(45deg);
                top: 7px;
              }
              .line-3 {
                transform: rotate(-45deg);
                top: -6px
              }
            }
          }
        }
      }

      .navbar__links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }

      .navbar__logo {
        margin: 0 $margin-small;
        width: 30px;
      }

      .navbar__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__tip {
          display: none;
        }

        &__item {
          margin: 0 15px;
          padding: $padding-medium 0;

          .menu__title {
            &:hover {
              color: $font-color-secondary !important;

              svg {
                fill: $font-color-secondary !important;
              }
            }
          }

        }

        &__dropdown {
          cursor: pointer;
          position: relative;

          .menu__title {

            svg {
              width: 10px;
              margin-left: 5px;
              transition: transform 0.4s;
            }
          }

          .dropdown__container {
            // display: none;
            display: flex;
            opacity: 0;
            visibility: hidden;
            position: absolute;

            // for blur effect
            // backdrop-filter: blur(4px);
            // -webkit-backdrop-filter: blur(4px);


            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            width: 550px;
            box-shadow: 0 1px 4px $header-border-color;
            top: 55px;
            left: -$margin-small;
            transition: all 0.2s ease-in;

            @media (max-width: 1460px) {
              width: 500px;
            }

            &--open {
              // display: flex;
              visibility: visible;
              opacity: 1;
            }

            .dropdown__links {
              // background-color: white;
              width: 60%;
              // margin: $margin-small;

              &__main {
                padding: 0;
                margin: $margin-small;

                &__item {
                  list-style: none;
                  padding: $padding-small;
                  border-radius: 10px;

                  &__link {
                    text-decoration: none;

                    .link__text {

                      .link__title {
                        color: $font-color-primary;
                        font-weight: $dropdown-link-title-font-weight;
                        display: block;
                        margin-bottom: $margin-xsmall;
                      }

                      .link__description {
                        color: $dropdown-link-description-color;
                        font-size: $dropdown-link-description-font-size;
                        display: block;
                      }
                    }
                  }

                  &:hover {
                    background-color: $dropdown-additional-links-background-color;
                  }
                }

              }

              &__footer {
                border-top: 1px solid $header-border-color;
                list-style: none;
                padding: 0;

                &__item {
                  margin: $margin-small;
                  padding: $padding-small;
                  border-radius: 10px;

                  &__link {
                    text-decoration: none;

                    .link__text {

                      .link__title {
                        color: $font-color-primary;
                        font-weight: $dropdown-link-title-font-weight;
                        display: block;
                        margin-bottom: $margin-xsmall;
                      }

                      .link__description {
                        color: $dropdown-link-description-color;
                        font-size: $dropdown-link-description-font-size;
                        display: block;
                      }
                    }
                  }

                  &:hover {
                    background-color: $dropdown-additional-links-background-color;
                  }
                }


              }
            }

            .dropdown__additional-links {
              width: 40%;
              background-color: $dropdown-additional-links-background-color;

              &__list {
                padding: 0;
                margin: $margin-small $margin-medium;

                &__item {
                  list-style: none;
                  padding: $padding-small;

                  &__link {
                    color: $font-color-primary;
                    font-size: $dropdown-additional-link-font-size;
                    text-decoration: none;
                  }

                  &:hover {

                    .link {
                      font-weight: 600;
                      color: $font-color-primary !important;
                    }
                  }
                }

                &:hover {
                  .link {
                    color: $dropdown-link-description-color;
                  }
                }

              }
            }
          }

          &:hover {
            .menu__title {
              svg {
                transform: rotate(180deg);
                fill: $dropdown-link-description-color;
              }

              color: $dropdown-link-description-color;
            }
          }
        }

        &__link {

          &:hover {
            .link {
              color: $dropdown-link-description-color;
            }
          }

          .link {
            text-decoration: none;
            color: $font-color-primary;

            &:hover {
              color: $font-color-secondary;
            }
          }
        }

        @media (max-width: 900px) {

          &--mobile {
            display: none;
            // max-width: 0;
            // visibility: hidden;
            max-height: 0;
            transition: all 0.1s ease-in;

            &--open {
              position: absolute;
              // height: auto;
              visibility: visible;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              background-color: white;
              right: $margin-medium;
              top: 70px;
              box-shadow: 0 1px 15px $header-border-color;
              padding: $padding-medium;
              width: 250px;
              border-radius: 5px;
              height: auto;
              max-height: 700px;
              // max-width: 250px;
              overflow-y: auto;
            }

            .navbar__menu__item {
              border-bottom: 1px solid $header-border-color;
              padding: $padding-small 0;
              margin: 0;
              // margin-left: 10px;
              width: 100%;
              font-weight: 500;

              &:last-child {
                border-bottom: none;
              }
            }

            .navbar__menu__dropdown {
              width: 100%;
              transition: all 0.4s ease;

              .menu__title {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                // margin-left: $margin-xsmall;
              }

              .dropdown__container {
                margin: $margin-xsmall 0 0 0;
                position: static;
                display: none;
                // flex-direction: column;
                width: 100%;
                border: none;
                box-shadow: none;
                border-radius: 0;

                &--open {
                  display: flex;
                  flex-direction: column;
                }

                .dropdown__links {
                  width: 100%;
                  border: none;
                  box-shadow: none;

                  &__main {
                    margin: 0;

                    &__item {
                      padding: 10px;
                      margin: $margin-small 0;

                      &__link {

                        .link__icon {
                          display: none;
                        }

                        .link__description {
                          font-weight: $font-default-weight;
                        }
                      }
                    }
                  }

                  &__footer {
                    display: none;
                  }
                }

                .dropdown__additional-links {
                  width: 100%;
                  background-color: white;

                  &__list {
                    margin: 0;

                    &__item {
                      padding: 0;
                      margin: $margin-medium 0;

                      .link {
                        &__title {
                          font-size: $font-size-default;
                        }
                      }
                    }
                  }


                }
              }
            }

            .navbar__menu__tip {
              display: block;
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: white;
              transform: rotate(45deg);
              top: -5px;
              right: 10px;
              border-radius: 2px;
            }




          }

          // position: absolute;
          // display: flex;
          // flex-direction: column;
          // justify-content: flex-start;
          // align-items: flex-start;
          // background-color: white;
          // right: $margin-medium;
          // top: 70px;
          // box-shadow: 0 1px 15px $header-border-color;
          // padding: $padding-medium;
          // width: 250px;
          // border-radius: 5px;
          // height: 500px;
          // overflow-y: scroll;

          // &__tip {

          // }

          // &__item {
          //   // padding: $padding-xsmall 0;

          // }

          // &__dropdown {
          //   width: 100%;
          //   // transition: all 0.4s ease;

          //   .menu__title {
          //     display: flex;
          //     justify-content: space-between;
          //     text-transform: uppercase;
          //   }

          //   .dropdown__container {
          //     margin: $margin-xsmall 0 0 0;
          //     position: static;
          //     flex-direction: column;
          //     width: 100%;
          //     border: none;
          //     box-shadow: none;
          //     border-radius: 0;

          //     .dropdown__links {
          //       width: 100%;
          //       border: none;
          //       box-shadow: none;

          //       &__main {
          //         margin: 0;

          //         &__item {
          //           padding: 0;
          //           margin: $margin-small 0;

          //           &__link {

          //             .link__icon {
          //               display: none;
          //             }

          //             .link__description {
          //               font-weight: $font-default-weight;
          //             }
          //           }
          //         }
          //       }

          //       &__footer {
          //         display: none;
          //       }
          //     }

          //     .dropdown__additional-links {
          //       width: 100%;
          //       background-color: white;

          //       &__list {
          //         margin: 0;

          //         &__item {
          //           padding: 0;
          //           margin: $margin-medium 0;

          //           .link {
          //             &__title {
          //               font-size: $font-size-default;
          //             }
          //           }
          //         }
          //       }


          //     }
          //   }
          // }

        }

        &__buttons {
          display: flex;

          .button {
            margin: 0 $margin-xsmall;
            padding: $padding-xsmall $padding-large;
            border-radius: 5px;
            text-decoration: none;
            color: $font-color-primary;
            transition: all 0.2s ease;
            font-weight: 500;

            &:hover {
              transform: scale(1.1);
              font-size: $font-size-default;
              box-shadow: 0 1px 4px $header-border-color;
            }
          }

          .button--primary {
            background-color: $button-primary-background-color;
            border: 1px solid $button-primary-border-color;
            color: $font-color-primary;
          }

          .button--secondary {
            background-color: $dropdown-additional-links-background-color;
            border: 1px solid $button-secondary-border-color;
          }
        }
      }

      .navbar__buttons {
        display: inline-flex;
        justify-content: flex-end;
      }
    }
  }
}